app = "games-party-ws"
primary_region = "iad"
kill_signal = "SIGINT"
kill_timeout = 5

[env]
  NODE_ENV = "production"

[build]
  # Uses Dockerfile in repo

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[services]]
  internal_port = 3000
  protocol = "tcp"
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    hard_limit = 250
    soft_limit = 200

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
